body { font-family: Arial; text-align: center; }
.card { display:inline-block; margin:10px; cursor:pointer; vertical-align: top; }
.card img { width:200px; height:150px; }
.popup { display:none; position:fixed; top:0; left:0; width:100%; height:100%; background:#0008; }
.popup-content { background:white; margin:10% auto; padding:20px; width:300px; text-align:left; }
.dates button { margin: 3px; padding:5px 10px; cursor:pointer; }
ul { list-style-type: none; padding:0; }